# Compiled source #
###################
*.com
*.class
*.o
*.pyc
**/build

# Password Files #
##################
*.pass
*.password

# Logfiles and Databases #
##########################
*.log
*.sql
*.sqlite
